#service-platform .section-bottom p {
  font-size: 1.4rem;
}

// Entry point for application specific styles

.align-center {
  text-align: center;
}

.kill-the-balloons-state,
.avoid-the-rain-state {
  .score {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    height: 20px;

    &.hidden {
      display: none;
    }

    p {
      font-size: 26px;
      line-height: 30px;
      width: 25%;
      float: left;
      text-align: center;

      &.blue { color: lighten(#4770c4, 10%); }
      &.pink { color: #ff0098; }
      &.yellow { color: #d0cf00; }
      &.red { color: #e70300; }
    }
  }
}

.intermezzo-state {
  .score-wrapper {
    padding: 0;
  }

  .score {
    float: left;
    // line-height: 100%;
    text-align: center;
    font-size: 2rem;
    opacity: 0.7;
    vertical-align: middle;
  }
}

.scores-state {
  .score-wrapper {
    padding: 0;
  }

  .foreground {
    position: absolute;
    top: 0;
    left: 0;
  }

  .score {
    // float: left;
    // line-height: 100%;
    text-align: center;
    font-size: 2rem;
    // opacity: 0.7;
    // vertical-align: middle;
    position: absolute;

    p.local {
      display: block;
    }

    p.global {
      position: absolute;
      line-height: normal;
      height: auto;
      color: #eeeeee;
    }

    &.red .global { top: 4px; left: 4px; }
    &.blue .global { top: 4px; right: 4px; }
    &.pink .global { bottom: 4px; left: 4px; }
    &.yellow .global { bottom: 4px; right: 4px; }
  }
}
